.legend__item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.legend__color {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.legend__label {
  font-size: 14px;
}
