body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.flexDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
  background: white;
}

.axisGrey line {
  stroke: #f1f3f9;
}
.axisGrey path {
  stroke: #f1f3f9;
}

.axisGrid line {
  stroke: lightgrey;
  opacity: 0.7;
}

.axisGrid path {
  stroke-width: 0;
}

.rotate {
  transform: rotate(180deg) translate(0, 0);
}
